
body
{
	background-image:url("pizzaw.jpg");
	background-attachment:fixed;
	background-position:center;
}


#body /* div contenu directement dans le body */
{
	background-color : #FF9933;
	border-radius: 5px;
	width : 800px;
	margin : auto;
	
	font-family: Arial, Helvetica, sans-serif;
	
}


header
{
	height : 190px;
}


h1
{
	position : relative;
	margin-top : -150px;
	margin-left : 350px ;
	text-align : center;
	font-size : 43px;
	text-decoration : bold;
	
}



h3
{
	text-align: center;
	text-decoration : underline;
	text-transform: uppercase;
}




#content
{
	padding: 10px;
}










/*
	Page liste des pizzas
*/

.pizza
{
	background-color: #FFB56A;
	border-radius: 3px;
	width: 780px;
	height: 220px;
	margin-bottom: 10px;
}

.photo_pizza
{
	position: relative;
	left: 10px;
	top : 10px;
	height : 200px;
	width : 200px;
	float: left;
}

.info_pizza
{
	position: relative;
	top: 20px;
	margin-left: 230px;
	margin-right: 20px;
	height : 180px;
}




div.tailles
{
	position: absolute;
	top: 40px;
	left: 0;
	width : 48%;
	height : 140px;
}


.ingredients
{
	position : absolute;
	top: 40px;
	right: 0;
	width : 48%;
	height : 140px;
	
	padding: 10px;
	box-sizing: border-box;
	background-color: #FFD5AA;
}
form.ingredients
{
	line-height: 100%;
	overflow-y: auto;
	padding-top: 3px;
}
form.ingredients p
{
	margin: 0;
}

.bouton
{
  border-radius: 10px;
  border-width: 0;
  color: #ffffff;
  padding: auto;
  text-decoration: none;
  width : 100%;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.bouton:hover
{
	text-decoration: none;
}

.bouton_petit {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  
}

.bouton_petit:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  
}

.bouton_moyen {
  background: #34d93f;
  background-image: linear-gradient(to bottom, #34d93f, #2bb863);
  
}

.bouton_moyen:hover {
  background: #71fa7a;
  background-image: linear-gradient(to bottom, #71fa7a, #53e057);
  
}

.bouton_grand {
  background: #f7ff00;
  background-image: linear-gradient(to bottom, #f7ff00, #dec104);
  
}

.bouton_grand:hover {
  background: #ebeb63;
  background-image: linear-gradient(to bottom, #ebeb63, #cfd437);
  
}

.bouton_xxl {
  background: #ff6600;
  background-image: linear-gradient(to bottom, #ff6600, #de1304);
  
}

.bouton_xxl:hover {
  background: #eb9f65;
  background-image: linear-gradient(to bottom, #eb9f65, #d45637);
  
}




form#form_renseignements label
{
	float: left;
	width: 150px;
}





.barre
{
	text-decoration : line-through;
}



table
{
	border-collapse: separate;
	border-spacing: 5px;
}

td, th {
	background-color: #FFB56A;
	border-radius: 3px;
	padding: 3px;
}




/* Extrait de Bootstrap */
.form-group {
  margin-bottom: 15px;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}





footer
{
	border-top: solid 5px black;
	padding: 5px;
	text-align: center;
}
